@import util

.all-activities
  margin-top: 15px

  .search
    float: none
    clear: both
    display: block

    +center()
    padding: 10px

    width: 100%
    max-width: #{ $maxw }

    font-size: 1.25em
    color: $black

    background-color: rgba(0,0,0,0)
    border: none
    border-bottom: 3px solid $gray

=colorClass($x, $y, $cat)
  .categories .#{ $x }
    color: $y

  .categories .#{ $x }.checked
    color: $white
    background-color: $y

  ul.activities > .activity.category-#{ $cat }
    background-color: $y

+colorClass(red, $red, game)
+colorClass(yellow, $yellow, programming)
+colorClass(green, $green, science)
+colorClass(blue, $blue, internet)
+colorClass(aq, $aqua, maths)
+colorClass(lime, $lime, language)
+colorClass(navy, $navy, geography)
+colorClass(orange, $orange, office)
+colorClass(purple, $purple, creative)
+colorClass(f, $fuchsia, tools)
+colorClass(black, $black, system)

.categories
  margin-top: 10px
  +center()
  max-width: #{ $maxw }

  .any
    color: $black
  .any.checked
    color: $white
    background: linear-gradient($red, $yellow)
    box-shadow: 1px 1px 2px $green, -1px -1px 2px $blue

  .fa
    padding: 7px
    height: 1em   // Because 1em = 1 x the font size!?
    width: 1em

    text-align: center
    border-radius: 50%
    display: inline-block

    text-shadow: 0 0 0 transparent
    transition: 0.5s ease all

    &:hover
      text-shadow: 1px 3px 3px $black


@keyframes shake1
  0%, 100%
    transform: rotate(0deg)
  50%
    transform: rotate(2deg)

@keyframes shake2
  0%, 100%
    transform: rotate(-3deg) scale(1)
  50%
    transform: rotate(-5deg) sclae(1.1)

ul.activities
  max-width: #{ $maxw }
  +center()
  padding-left: 0

  list-style: none

  li.activity
    display: block
    float: left

    width: 30%
    margin-right: 1%
    margin-bottom: 2%
    padding: 1%

    border-radius: 5px
    text-align: center

    background-color: $blue

    img.icon
      display: block
      +center()
      background-color: rgba(255, 255, 255, 0.5)
      padding: 5px
      border-radius: 5px

    span
      color: $white
      font-weight: bold
      font-size: 1.25em

      word-wrap: break-word

    &:hover
      animation: shake1 0.1s infinite
      img.icon
        animation: shake2 0.13s infinite


.recommended-activities-container
  +center()
  max-width: #{ $maxw }
