@import util

.comments
  textarea
    width: 100%
    padding-top: 5px
    
    background-color: rgba(0,0,0,0)
    border: none
    border-bottom: 2px solid $gray
        
    font-family: sans-serif
    font-size: 1.2em
  .star-rating
    margin-bottom: 10px
  .add
    +cool_button()
      
  ul
    list-style: none
    font-size: 1.1em
    li
      margin-bottom: 10px

.types
  padding-bottom: 5px

  i:before
    font-size: 1.75em
    font-family: FontAwesome
    font-style: normal

    padding: 2px
    height: 1em   // Because 1em = 1 x the font size!?
    width: 1em

    text-align: center
    border-radius: 50%
    display: inline-block

  i.checked:before
    background-color: $gray
    color: $white

  i[value=review]:before
    content: ""

  i[value=question]:before
    content: ""

  i[value=idea]:before
    content: ""

  i[value=problem]:before
    content: ""

  i[value=reply]:before
    content: ""

  i[value=reply]:not(.checked):before
    display: none

.type-icon:before
  font-size: 2.4em
  font-family: FontAwesome

  padding: 2px
  height: 1em  // Because 1em = 1 x the font size!?
  width: 1em

  text-align: center
  border-radius: 50%
  display: inline-block
  vertical-align: top

  background-color: $gray
  color: $white

.type-icon.question:before
  content: ""

.type-icon.idea:before
  content: ""

.type-icon.reply:before
  content: ""

.type-icon.problem:before
  content: ""

  label[for=problem]:before
    content: ""

.types input#review:not(:checked) ~ .star-sel
  display: none

.types input#problem:not(:checked) ~ .bug-tip
  display: none
