@import colors
@import util

.login-popover
  display: block
  position: fixed
  z-index: 99
  top: 3em

  $p: 1.25em

  @media screen and (max-width: $maxw)
    left: 0
    width: 100%
    width: -webkit-calc(100% - #{$p})
    width: calc(100% - #{$p})

  @media screen and (min-width: $maxw)
    left: -webkit-calc(50% - ((#{$p} + #{$maxw})/2))
    left: calc(50% - ((#{$p} + #{$maxw})/2))
    width: #{ $maxw }

  padding: 0.5em #{$p}

  max-height: 25em
  overflow-x: hidden
  overflow-y: scroll

  background-color: $purple
  box-shadow: 0 0 10px $black
  border-radius: 5px

  color: white
  font-size: 1em

  transition: 1s ease all
  &.hide
    margin-top: -300em

  .secret
    width: 90%
    font-family: sans-serif

  .xo-person-bar
    text-align: center

    span svg
      border-radius: 33%

    span.selected svg 
      background-color: grey !important

    span:hover svg
      background-color: rgba(170, 170, 170, 0.5)

