@charset "UTF-8";
.stars, .star-sel {
  font-size: 2.5em; }
  .stars .fa-star:before, .star-sel .fa-star:before {
    color: #fffa00; }
  .stars .fa-star-o:before, .star-sel .fa-star-o:before {
    color: #aaaaaa; }

.star-sel {
  direction: rtl;
  unicode-bidi: bidi-override; }

body {
  font-family: sans-serif;
  background: url("bg.png");
  margin: 0; }

hr {
  margin: 15px 0;
  border: 1px solid #aaaaaa; }

img {
  max-width: 100%; }

.error {
  margin-top: 10px;
  padding: 5px;
  background-color: #e6000a;
  border-radius: 5px;
  color: white;
  font-weight: bold; }

@keyframes stars {
  0% {
    background-position: 0px 0px; }

  50% {
    background-position: 399px 798px; }

  100% {
    background-position: 798px 1596px; } }
nav {
  text-align: center;
  background: url(http://subtlepatterns.com/patterns/stardust.png);
  margin-botom: 60px; }
  nav div {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    nav div a {
      display: block;
      float: left;
      width: 33.33333%;
      width: calc(100% / 3);
      height: 30px;
      padding-top: 10px;
      padding-top: calc(20px - (1em / 2));
      color: white;
      background-color: #e6000a;
      font-weight: bold;
      text-decoration: none;
      transition: 0.75s ease transform; }
    nav div a:hover {
      transform: scale(0.9); }
    nav div a:nth-child(2) {
      background-color: #ff8f00; }
    nav div a:nth-child(3) {
      background-color: #a700ff;
      clear: right; }

.all-activities {
  margin-top: 15px; }
  .all-activities .search {
    float: none;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    max-width: 1100px;
    font-size: 1.25em;
    color: #111111;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #aaaaaa; }

@keyframes shake1 {
  0%, 100% {
    transform: rotate(0deg); }

  50% {
    transform: rotate(2deg); } }
@keyframes shake2 {
  0%, 100% {
    transform: rotate(-3deg) scale(1); }

  50% {
    transform: rotate(-5deg) sclae(1.1); } }
ul.activities {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  list-style: none; }
  ul.activities li.activity {
    display: block;
    float: left;
    width: 30%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
    background-color: #005fe4; }
    ul.activities li.activity:nth-child(10n+2) {
      background-color: #00a0ff; }
    ul.activities li.activity:nth-child(10n+3) {
      background-color: #008009; }
    ul.activities li.activity:nth-child(10n+4) {
      background-color: #00ea11; }
    ul.activities li.activity:nth-child(10n+5) {
      background-color: #fffa00; }
    ul.activities li.activity:nth-child(10n+6) {
      background-color: #ff8f00; }
    ul.activities li.activity:nth-child(10n+7) {
      background-color: #e6000a; }
    ul.activities li.activity:nth-child(10n+8) {
      background-color: #ff2b34; }
    ul.activities li.activity:nth-child(10n+9) {
      background-color: #a700ff; }
    ul.activities li.activity:nth-child(10n+10) {
      background-color: #5e008c; }
    ul.activities li.activity img.icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 5px;
      border-radius: 5px; }
    ul.activities li.activity span {
      color: white;
      font-weight: bold;
      font-size: 1.25em;
      word-wrap: break-word; }
    ul.activities li.activity:hover {
      animation: shake1 0.1s infinite; }
      ul.activities li.activity:hover img.icon {
        animation: shake2 0.13s infinite; }

.recommended-activities-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px; }

.detail {
  display: block;
  overflow: hidden;
  clear: both;
  position: relative;
  margin-top: 0;
  border-radius: 0 0 20px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 0;
  max-width: 1100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: 1s ease all; }
  .detail.hide {
    margin-top: -200px;
    height: 0;
    padding: 0; }
  .detail .close {
    font-size: 36px;
    margin-left: 10px;
    text-align: left; }
  .detail h1 {
    margin-bottom: 0; }
  .detail .by {
    margin-bottom: 10px; }
    .detail .by a {
      color: #aaaaaa; }
  .detail .screenshots.closed img:nth-child(1n+2) {
    height: 0px;
    transition: 0.75s ease all; }
  .detail .screenshots.closed + .icon {
    transition: 0.75s ease all; }
  .detail .screenshots:not(.closed) + .icon {
    transform: rotate(180deg); }
  .detail .icon:before {
    font-size: 42px; }
  .detail .description {
    font-size: 1.5em; }
  .detail .download {
    display: inline-block;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    background-color: #e6000a;
    box-shadow: 0 10px 0 #ff8f00, 0 11px 3px #ff8f00;
    border: none;
    padding: 5px;
    width: auto;
    transition: 0.7sec ease-in all;
    font-size: 2em; }
    .detail .download:hover {
      margin-top: 5px;
      box-shadow: 0 5px 0 #ff8f00, 0 6px 10px #ff8f00;
      margin-bottom: 15px; }
  .detail hr.sep {
    margin-bottom: 0; }

.detail .comments textarea {
  width: 100%;
  padding-top: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #aaaaaa;
  font-family: sans-serif;
  font-size: 1.2em; }
.detail .comments .star-rating {
  margin-bottom: 10px; }
.detail .comments .add {
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  background-color: #e6000a;
  box-shadow: 0 10px 0 #ff8f00, 0 11px 3px #ff8f00;
  border: none;
  padding: 5px;
  width: auto;
  transition: 0.7sec ease-in all; }
  .detail .comments .add:hover {
    margin-top: 5px;
    box-shadow: 0 5px 0 #ff8f00, 0 6px 10px #ff8f00;
    margin-bottom: 15px; }
.detail .comments ul {
  list-style: none;
  font-size: 1.1em; }
  .detail .comments ul li {
    margin-bottom: 10px; }

.person {
  height: 2.5em;
  width: auto;
  border-radius: 2.5em;
  margin-right: 10px; }

.types {
  padding-bottom: 5px; }
  .types i:before {
    font-size: 1.75em;
    font-family: FontAwesome;
    font-style: normal;
    padding: 2px;
    height: 1em;
    width: 1em;
    text-align: center;
    border-radius: 50%;
    display: inline-block; }
  .types i.checked:before {
    background-color: #aaaaaa;
    color: white; }
  .types i[value=review]:before {
    content: ""; }
  .types i[value=question]:before {
    content: ""; }
  .types i[value=idea]:before {
    content: ""; }
  .types i[value=problem]:before {
    content: ""; }
  .types i[value=reply]:before {
    content: ""; }
  .types i[value=reply]:not(.checked):before {
    display: none; }

.type-icon:before {
  font-size: 2.4em;
  font-family: FontAwesome;
  padding: 2px;
  height: 1em;
  width: 1em;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  background-color: #aaaaaa;
  color: white; }

.type-icon.question:before {
  content: ""; }

.type-icon.idea:before {
  content: ""; }

.type-icon.reply:before {
  content: ""; }

.type-icon.problem:before {
  content: ""; }
  .type-icon.problem:before label[for=problem]:before {
    content: ""; }

.types input#review:not(:checked) ~ .star-sel {
  display: none; }

.types input#problem:not(:checked) ~ .bug-tip {
  display: none; }

blockquote {
  background-color: #dddddd;
  border-left: 8px solid #aaaaaa;
  padding: 5px;
  text-align: left; }
  blockquote .fa-flag {
    display: none; }

@keyframes doneAni {
  0% {
    opacity: 0;
    transform: scale(0); }

  35%, 65% {
    opacity: 1;
    transform: scale(1); }

  100% {
    opacity: 0;
    transform: scale(3); } }
.done:before {
  content: "";
  font: 300px FontAwesome;
  animation: 2s doneAni;
  position: fixed;
  display: block;
  width: 160px;
  height: 160px;
  left: 45%;
  left: calc(50% - 150px);
  top: 45%;
  top: calc(50% - 150px); }

.load:before {
  content: ""; }

@keyframes newItemAni {
  0%, 100% {
    opacity: 0;
    transform: scale(0.75) translate(0, -100px); }

  20%, 80% {
    opacity: 1;
    transform: scale(1) translate(0, 0); } }
.new-item {
  animation: 3s newItemAni;
  position: fixed;
  display: block;
  width: 500px;
  max-width: 90%;
  padding: 8px;
  border-radius: 4px;
  left: 40%;
  left: -webkit-calc(50% - 250px);
  left: -moz-calc(50% - 250px);
  left: calc(50% - 250px);
  top: 20px;
  background-color: #005fe4;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center; }
