<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <script src="/js/outpWithDeps.js"></script>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body class="blog">
          <nav>
            <div>
              <a href="/blog/">Blog Home</a>
              <a href="/">Activities</a>
              <a href="http://wiki.sugarlabs.org">Wiki</a>
            </div>
          </nav>

          <div class="content">
          {{ content }}
          </div>

    </body>
</html>
