$bg: "http://subtlepatterns.com/patterns/textured_paper.png"
$maxw: "1100px"
=center()
  margin-left: auto
  margin-right: auto
  

@import colors
@import stars

body
  font-family: sans-serif
  background: url($bg)
    
  margin: 0

hr
  margin: 15px 0
  border: 1px solid $gray
    
img
  max-width: 100%
  
@keyframes stars
  0%:
    background-position: 0px 0px
  50%
    background-position: 798*0.5px 798px
  100%
    background-position: 798px 798*2px
    
nav
  text-align: center
    
  background: url(http://subtlepatterns.com/patterns/stardust.png)
  animation: 60s linear 0s normal none infinite stars
    
  margin-botom: 60px
    
  div
    max-width: #{ $maxw }
    +center()
    
    a
      display: block
      float: left
      width: 33.33333333333%
      width: calc(100% / 3)
      height: 30px
      padding-top: 10px // Guess
      padding-top: calc(20px - (1em / 2))
      
      color: $white
      background-color: $red // 1st child + backup
      font-weight: bold
      text-decoration: none
        
      transition: 0.75s ease transform
        
    a:hover
      transform: scale(0.9)
    
    a:nth-child(2)
      background-color: $orange
      
    a:nth-child(3)
      background-color: $purple
      clear: right

// Actvities List
      
.all-activities
  margin-top: 15px
  
  .search
    float: none
    clear: both
    display: block
      
    +center()
    padding: 10px
    
    width: 80%
    max-width: #{ $maxw  }
    
    font-size: 20px
    color: $black
    
    background-color: rgba(0,0,0,0)
    border: none
    border-bottom: 3px solid $gray

@keyframes shake1
  0%, 100%
    transform: rotate(0deg)
  50%
    transform: rotate(2deg)
    
@keyframes shake2
  0%, 100%
    transform: rotate(-2deg) scale(1)
  50%
    transform: rotate(-3.5deg) sclae(1.1)

// Activity List Base

ul.activities
  max-width: #{ $maxw }
  +center()
  
  list-style: none
  
  li.activity
    display: block
    float: left
      
    width: 20%
    margin-right: 1%
    margin-bottom: 2%
    padding: 1%
    
    border-radius: 5px
    text-align: center
    
    background-color: $blue
    &:nth-child(10n+2)
      background-color: $aqua
    &:nth-child(10n+3)
      background-color: #39CCCC  // Teal
    &:nth-child(10n+4)
      background-color: $green
    &:nth-child(10n+5)
      background-color: $lime
    &:nth-child(10n+6)
      background-color: $yellow
    &:nth-child(10n+7)
      background-color: $orange
    &:nth-child(10n+8)
      background-color: $red
    &:nth-child(10n+9)
      background-color: $fuchsia
    &:nth-child(10n+10)
      background-color: $purple
    
    img.icon
      display: block
      +center()
      background-color: rgba(255, 255, 255, 0.5)
      padding: 5px
      border-radius: 5px
      
    span
      color: $white
      font-weight: bold
      font-size: 18px
      
      word-wrap: break-word
      
    &:hover
      animation: shake1 0.1s infinite
      img.icon
        animation: shake2 0.13s infinite
          

=cool_button()
  display: inline-block
  margin-bottom: 20px
      
  color: white
  text-decoration: none
  background-color: $red
  box-shadow: 0 10px 0 $orange, 0 11px 3px $orange
  
  border: none
  padding: 5px
  width: auto
    
  transition: 0.7sec ease-in all
  &:hover
    margin-top: 5px
    box-shadow: 0 5px 0 $orange, 0 6px 10px $orange
    margin-bottom: 15px

// Reccomended Activities

.recommended-activities-container
  +center()
  max-width: #{ $maxw }

// Detail View
    
.detail
  display: block
  overflow: hidden
  clear: both
    
  position: relative
  margin-top: 0
  
  border-radius: 0 0 20px 20px
  background-color: rgba(255, 255, 255, 0.7)

  padding: 20px 0
  max-width: #{ $maxw }
  height: auto

  +center()
  text-align: center
    
  transition: 1s ease all
  &.hide
    margin-top: -200px
    height: 0
    padding: 0
  
  .close
    font-size: 36px
    margin-left: 10px
    text-align: left
    
  h1
    margin-bottom: 0
  
  .by
    margin-bottom: 10px
    a
      color: $gray
  
  .screenshots.closed
    img:nth-child(1n+2)
      height: 0px
      transition: 0.75s ease all
    & + .icon
      transition: 0.75s ease all
  .screenshots:not(.closed)
    & + .icon
      transform: rotate(180deg)
  .icon:before
    font-size: 42px
      
  .description
    font-size: 1.5em
      
  .download
    +cool_button()
    font-size: 2em

  hr.sep
    margin-bottom: 0

// Comments

.detail
  .comments
    textarea
      width: 100%
      padding-top: 5px
    
      background-color: rgba(0,0,0,0)
      border: none
      border-bottom: 2px solid $gray
        
      font-family: sans-serif
      font-size: 1.2em
    .star-rating
      margin-bottom: 10px
    .add
      +cool_button()
      
    ul
      list-style: none
      font-size: 1.1em
      li
        margin-bottom: 10px


.person
  height: 50px
  width: auto
  border-radius: 50px
  margin-right: 10px

.types
  padding-bottom: 5px
  input[type=radio]
    display: none

  label:before
    font-size: 36px
    font-family: FontAwesome

    padding: 2px
    width: 40px
    height: 40px

    text-align: center
    border-radius: 50%
    display: inline-block

  input:checked + label:before
    background-color: $gray
    color: $white

  label[for=review]:before
    content: ""

  label[for=question]:before
    content: ""

  label[for=idea]:before
    content: ""

  label[for=problem]:before
    content: ""

  label[for=reply]:before
    content: ""
  input#reply:not(:checked) + label[for=reply]
    display: none

.type-icon:before
  font-size: 48px
  font-family: FontAwesome

  padding: 2px
  width: 50px
  height: 50px

  text-align: center
  border-radius: 50%
  display: inline-block
  vertical-align: top

  background-color: $gray
  color: $white

.type-icon.question:before
  content: ""

.type-icon.idea:before
  content: ""

.type-icon.reply:before
  content: ""

.type-icon.problem:before
  content: ""

  label[for=problem]:before
    content: ""

.types input#review:not(:checked) ~ .star-sel
  display: none

.types input#problem:not(:checked) ~ .bug-tip
  display: none

blockquote
  background-color: $silver
  border-left: 8px solid $gray

  padding: 5px
  text-align: left

  .fa-flag
    display: none

// Done animation

@keyframes doneAni
  0%
    opacity: 0
    transform: scale(0)
  35%, 65%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(3)

.done:before
  content: ""
  font: 300px FontAwesome

  animation: 2s doneAni
  position: fixed

  display: block
  width: 160px
  height: 160px

  left: 45%
  left: calc(50% - 150px)
  top: 45%
  top: calc(50% - 150px)

.load:before
  content: ""

@keyframes newItemAni
  0%, 100%
    opacity: 0
    transform: scale(0.75) translate(0, -100px)
  20%, 80%
    opacity: 1
    transform: scale(1) translate(0, 0)

.new-item
  animation: 3s newItemAni
  position: fixed

  display: block
  width: 500px
  max-width: 90%
  padding: 8px
  border-radius: 4px

  left: 40%
  left: -webkit-calc(50% - 250px)
  left: -moz-calc(50% - 250px)
  left: calc(50% - 250px)
  top: 20px

  background-color: $blue
  color: $white

  font-size: 24px
  font-weight: bold
  text-align: center
